.home{
    width: 100%;
    height: 100vh;

}

.home , .home  form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home  form{
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    background-color: darkgray;
    border-radius: 20px;
    box-shadow: ;
}

.home  form label {
    display: flex;
    flex-direction: column;
}