@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.cadastreMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

.cadastreMain .cadastreForm {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 407px;
    height: 495px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cadastreForm h2 {
    display: flex;
    justify-content: center;
}



.cadastreForm label {
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.cadastreMain .cadastreForm form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
}

div button,
div input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    height: 25px;
}

input[type="submit"][name="criar"] {
    background-color: #34A853;
    color: white;
}